h1 {
  color: lightseagreen;
}

body {
  background: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: #2BB3C0;
  border-top: 1px solid white;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
  form {
    display: flex;
    width: 100%;
  }
}

.chatbar-message,
.chatbar-username {
  border: 1px solid white;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.chatbar form button {
  visibility: hidden;
}
.message {
  display: flex;
  padding: 5px;
}

.message.system {
  color: #7FDFD4;
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  color: #7f7f7f;
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: #2BB3C0;
  color: white; 
  border-bottom: 1px solid white;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.count-connectedUser {
  float: right;
  margin: 20px;
}
